.contact {
  width: 100%;
}

.contact_hero {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url(../../../public/assets/images/design-styles/CottageCharmKitchen-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contact_hero img {
  height: clamp(350px, 400px, 20vw);
  width: clamp(350px, 400px, 20vw);
  background-color: goldenrod;
  object-fit: cover;
  border-radius: 50%;
}

.contact_us_txt,
.from_you {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin-block: 6em;
}

.contact_us_txt h2,
.from_you h2 {
  font-size: 2rem;
}
.contact_us_txt p,
.from_you p {
  width: 40%;
  text-align: center;
  font-size: 1.2rem;
}

.box_container {
  margin-block: 5em;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box_div {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 65%;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 7px rgba(128, 128, 128, 0.158);
}

.box_div .box {
  width: 33%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  text-align: center;
}

.box_icon {
  font-size: 2rem;
  color: goldenrod;
}

.box_div > span {
  width: 1px;
  height: 100px;
  background-color: black;
}

.form_div {
  margin-block: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_div > div {
  padding: 2em;
  width: 65%;
  border-radius: 0.5em;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  flex-direction: column;
}

.form_div > div h2 {
  font-size: 1.5rem;
  width: 100%;
}

.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.input_container {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.input_div {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  flex-direction: column;
  gap: 0.5em;
}

.input_div input,
.input_div textarea {
  width: 100%;
  border: 1px solid gray;
  outline: none;
  padding: 0.65em;
  border-radius: 0.2rem;
  resize: none;
  background: whitesmoke;
}

.input_div input:focus,
.input_div textarea:focus {
  border: 2px solid goldenrod;
}

.contact_form button {
  padding: 0.9em 5em;
  font-weight: 600;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 100vw;
}

.find_us {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  margin-block: 6em;
}

.find_us h2 {
  font-size: 2rem;
}

.find_us .contact_map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {

  .contact_us_txt h2,
  .from_you h2 {
    font-size: clamp(1.5rem, 2rem, 3vw);
  }

  .contact_us_txt p,
  .from_you p {
    width: 90%;
    text-align: center;
    font-size: 1.2rem;
  }

  .box_div {
    width: 90%;
  }
}
