.product {
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.product__img-container {
  overflow: hidden;
}

.product__img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: transform 600ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.product__img:hover {
  transform: scale(1.2);
}

.product__name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  display: -moz-box;
  line-clamp: 2;
  -moz-box-orient: vertical;

  font-weight: 500;
}

.product__price {
  font-weight: 700;
}

.product__details {
  padding: 0.5em;
}

.product__details > * + * {
  margin-top: 0.5em;
}

.wishlist {
  position: absolute;
  top: 0.15em;
  cursor: pointer;
  right: 0.15em;
  color: white;
  background: transparent;
  font-weight: 900;
  border: 0;
  padding: 0.25em;
  font-size: 1.5rem;
  z-index: 2;
}

.product__reviews {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.loading_animation{
  width: 100%;
  min-height: 260px;
}