.favorite-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fave-hero {
  height: 40vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.237);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.455) 30%,
      rgba(93, 26, 26, 0.54),
      rgba(0, 0, 0, 0.597)
    ),
    url(../../../public/assets/images/design-styles/IndustrialChicKitchen-1.jpg);
  background-size: cover;
  background-position: center;
}

.fave-hero h1 {
  font-size: clamp(4rem, 2rem, 2vw);
}

.all_fav_div {
  margin-block: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.favDiv {
  width: 30%;
  height: 270px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
  border-radius: .5rem;
}

.fav_image {
  width: 100%;
  border-radius: .5rem .5rem 0rem 0rem;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.fav_image img {
  object-fit: cover;
  width: 100%;
  border-radius: .5rem .5rem 0rem 0rem;
  height: 100%;
  transition: 0.4s ease;
  object-fit: cover;
  filter: saturate(1.5);
}

.fav_image img:hover {
  transform: scale(110%);
}

.favtag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a1509;
  color: white;
  font-size: 0.8rem;
  padding: 0.5em;
  z-index: 1;
}

.fav_details {
  display: flex;
  justify-content: space-between;
  border-radius:  0rem 0rem .5rem .5rem;
  align-items: center;
  height: 15%;
  padding: 1.5em;
  background-color: #2a1509;
  color: white;
  width: 100%;
}

.fav_details button {
  padding: 0.5em;
  z-index: 2;
  border: none;
  display: flex;
  justify-content: center;
  gap: 0.2em;
  align-items: center;
  color: red;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: clamp(0.7rem, .8rem, 3vw);
  font-weight: bold;
}

.fav_details p {
  font-size: clamp(0.8rem, 1rem, 3vw);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -webkit-box-orient: vertical;
}

.nothing_found {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 3em;
  font-size: 1.5em;
  font-weight: bold;
  flex-direction: column;
}

.tab_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 2em;
}

.tab_buttons button{
  padding: .8em 3em;
  border: none;
  border-radius: .3rem;
  background-color: #2a1509;
  color: white;
  font-weight: bold;
}

.tab_buttons button.active {
  background-color: goldenrod; 
  color: white; 
  box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.142);
}